<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1298},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1622},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1298},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,942},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,684},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,876},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,974},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,650},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,326},{256,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,322}}</string>
                <key>sourceSize</key>
                <string>{256,322}</string>
            </dict>
            <key>city_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1080,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,340}}</string>
                <key>sourceSize</key>
                <string>{1080,340}</string>
            </dict>
            <key>city_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{966,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{966,304}}</string>
                <key>sourceSize</key>
                <string>{966,304}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,684},{346,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,190}}</string>
                <key>sourceSize</key>
                <string>{346,190}</string>
            </dict>
            <key>explosion_small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1153},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1078},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small3.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,876},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1792},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1812},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1812},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>explosion_small7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{200,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,204}}</string>
                <key>sourceSize</key>
                <string>{200,204}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1298},{492,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,291}}</string>
                <key>sourceSize</key>
                <string>{492,291}</string>
            </dict>
            <key>halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,886},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>health_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,482},{176,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,170}}</string>
                <key>sourceSize</key>
                <string>{176,170}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{702,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,478}}</string>
                <key>sourceSize</key>
                <string>{702,478}</string>
            </dict>
            <key>meteor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1148},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{32,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,1024}}</string>
                <key>sourceSize</key>
                <string>{32,1024}</string>
            </dict>
            <key>shockwave.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,639},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sparkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1018},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>trees.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,482},{528,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,155}}</string>
                <key>sourceSize</key>
                <string>{528,155}</string>
            </dict>
            <key>ufo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,773},{170,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,111}}</string>
                <key>sourceSize</key>
                <string>{170,111}</string>
            </dict>
            <key>ufo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,660},{170,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,111}}</string>
                <key>sourceSize</key>
                <string>{170,111}</string>
            </dict>
            <key>ufo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,550},{170,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,111}}</string>
                <key>sourceSize</key>
                <string>{170,111}</string>
            </dict>
            <key>ufo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,378},{170,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,111}}</string>
                <key>sourceSize</key>
                <string>{170,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac6a1dd691d1dd1debc1389550d467d5$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
